:root {
    --while-color: #fff;
    --black-color: #000;
    --text-light-color: #878787;
    --text-color: #222;
    --primary-color: #ee4d2d;
    --primary-green-color: #56cfe1;
    --border-color: #dbdbdb;
    --gold-color: #ffce3c;
    --header-height: 90px;
    --text-hover: #EE4D2D;

}
.product__detail{
    margin-top: 24px;
}
.product__catelory{
    background-color: var(--while-color);
    border-radius: 14px;
}
.product__catelory .sub__nav a{
    padding-left: 16px;
    text-decoration: none;
    color: var(--black-color);
    display: inline-block;
    padding: 12px 8px;

}
.product__catelory .sub__nav li :hover{
    background-color: var(--primary-green-color);
    display: block;
}
.product__catelory h2{
    font-size: 18px;
    border-bottom: 2px solid #cfcaca;
    padding: 12px 16px;
}
.product__avata figure{
    width: 100%;
    height: 350px;
    overflow: hidden;
    outline: 2px solid rgb(197, 197, 0);
 
}
.product__avata figure img{
    height: 100%;
    object-fit: cover;
    transition: 0.3s linear;
    cursor: pointer;
}
.product__avata figure img:hover{
    scale: 1.1;
}

.product__buying p{
    background-color: var(--primary-green-color);
    padding:  12px;
    font-size: 20px;
    text-align: center;
    margin: 24px 0;
    font-weight: 600;
    color: var(--while-color);
    border-radius: 8px;
    cursor: pointer;
}
.product__special{
    background-color: #392410;
    padding:  12px;
    font-size: 20px;
    text-align: center;
    margin: 24px 0;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}
.product__social{
    margin-top: 24px;
    margin-bottom: 12px;
}
.product__social a{
    background-color:#ffce3c;
    padding: 8px 12px;
    text-decoration: none;
    color: var(--text-color);
    border-radius: 12px;
}
.product__social a:hover{
    background-color: var(--primary-green-color);
    
}
.product__des{
    margin-bottom: 40px;
}
.product__des h1{
    color: #23262f;
    font-size: 27px;
    line-height: 40px;
    font-weight: 500;
}

.product__des--title{
    font-weight: 600;
  
}
.product__detail--footer{
    background-color: var(--while-color);
    padding: 12px;
}
.product__detail--footer button{
    color: var(--while-color);
    background-color: #ffce3c;
}
.product__detail--footer_des{
    font-size: 16px;
    margin-top: 12px;
    line-height: 1.6;
}
.product__material{
    font-size: 16px;
    line-height: 1.6;
}