:root{
    --while-color: #fff;
    --black-color: #000;
    --text-light-color: #878787;
    --text-color: #222;
    --primary-color: #ee4d2d;
    --primary-green-color: #56cfe1;
    --border-color: #dbdbdb;
    --gold-color: #ffce3c;
    --header-height: 90px; --text-hover:#EE4D2D;

}
.active{
    color: var(--text-hover) !important;
}