@import './header.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

body {
    font-size: 1.6rem;
}

:root {
    --while-color: #fff;
    --black-color: #000;
    --text-light-color: #878787;
    --text-color: #222;
    --primary-color: #ee4d2d;
    --primary-green-color: #56cfe1;
    --border-color: #dbdbdb;
    --gold-color: #ffce3c;
    --header-height: 90px;
    --text-hover: #EE4D2D;

}

.active {
    color: var(--text-hover) !important;
}

.sliders_container {
    max-width: 1400px;
    text-align: center;
    position: relative;
    margin-top: var(--header-height);

    .banner_sliders {
        height: 500px;
        overflow: hidden;

        figure .slider {
            width: 100%;
            height: 500px;
            object-fit: cover;
        }

        .slick-arrow {
            display: none !important;
        }

        .slick-dots {
            display: none !important;
        }
    }

    .slider_show-btns {
        .show__controler {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            font-size: 3.2rem;
            color: var(--while-color);
            background-color: var(--border-color);

            cursor: pointer;

            &:hover {
                color: var(--primary-green-color);
                background-color: var(--while-color);
            }

            i {
                margin: auto;
            }
        }

        .btn_silder_left {
            left: 2%;
        }

        .btn_silder_right {
            right: 2%;
        }
    }

    .presentation__sliders {
        width: 100%;
        position: absolute;
        bottom: 2%;
        text-align: center;

        .btn_banner {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            margin: 0 4px;
            border: none;
            box-shadow: 1px 2px 3px gray;
        }

        .btn_banner.active {
            background-color: var(--primary-green-color);
        }
    }
}

// css main
main {
    margin-top: 2.4rem;
    height: 1000px;
}

.category__products {
    .category__item--content {
        overflow: hidden;
        display: block;
        position: relative;
        margin: 12px 0;
        padding: 0;
    }
    .category__item {
        background: no-repeat center;
        background-size: cover;
        cursor: pointer;
        .category__item--effects {
           
            .category__item--effects__overlays {
                position: absolute;
                inset: 0;
                transition: 0.5s linear;
            }

            .category__item--effects__border {
                z-index: 0;
                position: absolute;
                inset: 15px;
             
            }
          
            &:hover{
                .slide__leftright {
                    border-left: 2px solid var(--border-color);
                    border-right: 2px solid var(--border-color);
                    animation: borderLeftRight 0.3s ease-in;
                }
    
                .slide__topbottom { 
                    border-top: 2px solid var(--border-color);
                    border-bottom: 2px solid var(--border-color);
                    animation: borderTopBottom 0.3s ease-in;
                }
                .category__item--effects__overlays{
                    background-color: rgba(0, 0, 0, 0.5);
                }
            }
           
            
        }


        .category__item--des {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            min-width: 250px;
            border: 1px solid var(--border-color);
            background-color: rgba(0, 0, 0, 0.2);
            border-radius: 30px;
            font-size: 2.2rem;

            h3 {
                text-transform: capitalize;
                padding: 12px;
                text-align: center;
                font-weight: 700;
                color: var(--while-color);
                text-shadow: 1px 2px var(--text-color);
            }
        }
    }
}