@import './header.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

body {
    font-size: 1.6rem;
    background-color: #ede8e8;
}

:root {
    --while-color: #fff;
    --black-color: #000;
    --text-light-color: #878787;
    --text-color: #222;
    --primary-color: #ee4d2d;
    --primary-green-color: #56cfe1;
    --border-color: #dbdbdb;
    --gold-color: #ffce3c;
    --header-height: 90px;
    --text-hover: #EE4D2D;

}

.active {
    color: var(--text-hover) !important;
}

.sliders_container {
    max-width: 1400px;
    text-align: center;
    position: relative;
    margin-top: var(--header-height);

    .banner_sliders {
        height: 500px;
        overflow: hidden;

        figure .slider {
            width: 100%;
            height: 500px;
            object-fit: cover;
        }

        .slick-arrow {
            display: none !important;
        }

        .slick-dots {
            display: none !important;
        }
    }

    .slider_show-btns {
        .show__controler {
            position: absolute;
            top: 50%;
            display: flex;
            width: 50px;
            height: 50px;
            transform: translateY(-50%);
            border-radius: 50%;
            font-size: 3.2rem;
            color: var(--while-color);
            background-color: var(--border-color);

            cursor: pointer;

            &:hover {
                color: var(--primary-green-color);
                background-color: var(--while-color);
            }

            i {
                margin: auto;
            }
        }

        .btn_silder_left {
            left: 2%;
        }

        .btn_silder_right {
            right: 2%;
        }
    }

    .presentation__sliders {
        position: absolute;
        bottom: 2%;
        width: 100%;
        text-align: center;

        .btn_banner {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            margin: 0 4px;
            border: none;
            box-shadow: 1px 2px 3px gray;
        }

        .btn_banner.active {
            background-color: var(--primary-green-color);
        }
    }
}

// css main
main {
    margin-top: 2.4rem;
    margin-bottom: 100px;
}

.category__products {
    justify-content: center;

    .category__item--content {
        overflow: hidden;
        display: block;
        position: relative;
        margin: 12px 0;
        padding: 0;
    }

    .category__item {
        background: no-repeat center;
        background-size: cover;
        cursor: pointer;

        .category__item--effects {

            .category__item--effects__overlays {
                position: absolute;
                inset: 0;
                transition: 0.5s linear;
            }

            .category__item--effects__border {
                z-index: 0;
                position: absolute;
                inset: 15px;

            }

            &:hover {
                .slide__leftright {
                    border-left: 2px solid var(--border-color);
                    border-right: 2px solid var(--border-color);
                    animation: borderLeftRight 0.3s ease-in;
                }

                .slide__topbottom {
                    border-top: 2px solid var(--border-color);
                    border-bottom: 2px solid var(--border-color);
                    animation: borderTopBottom 0.3s ease-in;
                }

                .category__item--effects__overlays {
                    background-color: rgba(0, 0, 0, 0.5);
                }
            }


        }


        .category__item--des {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            min-width: 250px;
            border: 1px solid var(--border-color);
            background-color: rgba(0, 0, 0, 0.2);
            border-radius: 30px;
            font-size: 2.2rem;

            h3 {
                text-transform: capitalize;
                padding: 12px;
                text-align: center;
                font-weight: 700;
                color: var(--while-color);
                text-shadow: 1px 2px var(--text-color);
            }
        }
    }
}

.products__kind {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    position: relative;

    .products__kind--title {
        position: relative;
        transform: translateY(-50%);
        font-size: 2.2rem;
        text-transform: uppercase;
        font-weight: 500;
        color: var(--text-color);

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            width: 60px;
            height: 3px;
            border-radius: 4px;
            transform: translateY(-50%);
            background-color: var(--text-color);
        }

        &::before {
            right: -90px;
        }

        &::after {
            left: -90px;
        }
    }
}

.products__container--shows {
    .product-content {
        margin: 12px 0;
    }

    .product__item {

        .product__item--des {
            position: relative;
            font-size: 1.6rem;
            cursor: pointer;

            .product__item--avata {
                height: 280px;
                overflow: hidden;
                display: block;
                margin-bottom: 0;

                img {
                    transition: 0.3s linear;
                    width: 100%;
                    height: 280px;
                    object-fit: cover;
                    transform: scale(1);

                }
            }

            &:hover {
                img {
                    transform: scale(1.1);
                }

                .product-item--buttons {
                    opacity: 1;
                    top: 50%;
                }
            }

            .product__item--title {
                margin-top: 12px;

                a {
                    text-decoration: none;
                    text-transform: capitalize;
                    color: var(--text-color);
                    font-weight: 500;
                    font-size: 1.8rem;

                    &:hover {
                        color: var(--text-hover);
                    }
                }
            }

            .product__item--price {
                margin: 6px 0;
                font-weight: 400;

                .price--del {
                    color: var(--primary-color);
                    margin-left: 4px;
                    letter-spacing: 1.5px;
                }
            }

            .product-item--stickers__love {
                position: absolute;
                top: 10px;
                left: 10px;
                font-size: 2.4rem;
                color: var(--black-color);
                cursor: pointer;
                transition: 0.1s linear;

                &:hover {
                    .stickers--des {
                        opacity: 1;
                    }

                    color: var(--text-hover);
                }
            }

            .product-item--stickers__del {
                position: absolute;
                top: 10px;
                right: 10px;
                width: 50px;
                height: 50px;
                background-color: var(--primary-color);
                color: var(--while-color);
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
            }

            .stickers--des {
                opacity: 0;
                position: absolute;
                top: 0;
                right: -165px;
                font-size: 1.3rem;
                min-width: 150px;
                padding: 4px;
                background-color: var(--text-hover);
                color: var(--while-color);

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: -20px;
                    border: 10px solid;
                    border-color: transparent var(--text-hover) transparent transparent;

                }

            }

            .product-item--stickers__del {}

        }

        .product-item--buttons {
            transition: 0.4s ease-in-out;
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            opacity: 0;

            .product-item__btn {
                min-width: 150px;
                height: 40px;
                margin: 4px 0;
                text-align: center;
                border-radius: 20px;
                cursor: pointer;
                display: inline-block;
                background-color: var(--while-color);
                overflow: hidden;



                .item__btn--view {
                    line-height: 40px;

                }

                .item__btn--sub_view {
                    transition: 0.2s linear;
                    transform: translateY(0%);
                    background-color: var(--primary-green-color);
                }

                &:hover {
                    .item__btn--sub_view {
                        color: var(--while-color);
                        transform: translateY(-100%);
                    }
                }
            }
        }

        .product-item--buttons__mobiles {
            position: absolute;
            top: 45%;
            left: 50%;
            width: 50%;
            transform: translate(-50%,50%);
            background-color: rgba(0, 0, 0, 0.4);
            display: flex;
            justify-content: center;
            padding: 8px 12px;
            border-radius: 40px;
            i {
                margin: 0 12px;
                font-size: 2.4rem;
                color: var(--while-color);
            }
        }

    }

    .products__container--seeall {
        text-align: center;
        margin: 16px 0;

        a {
            min-width: 180px;
            display: inline-block;
            text-decoration: none;
            font-size: 1.6rem;
            padding: 12px 0;
            color: var(--while-color);
            background-color: var(--primary-green-color);
            border-radius: 50px;

            &:hover {
                opacity: 0.76;
            }
        }
    }
}

.news__container--content {
    .news__item {
        overflow: hidden;
        margin: 6px 0;

        figure {
            position: relative;
            cursor: pointer;

            .news__item--box__avata {
                height: 220px;
                overflow: hidden;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: .3s linear;

                &:hover {
                    transform: scale(1.01);
                }
            }

            .news__item--title {

                a {
                    display: block;
                    font-weight: 500;
                    font-size: 1.4rem;
                    margin-top: 6px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    text-transform: capitalize;
                    text-align: center;
                    text-decoration: none;
                    color: var(--text-color);

                    &:hover {

                        color: var(--text-hover);
                    }
                }
            }

            .news__item--des {
                margin: 4px;
                font-size: 1.3rem;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;

                &::first-letter {
                    text-transform: uppercase;
                }
            }

            &:hover {
                .news__item---open {

                    color: var(--while-color);
                    background-color: var(--text-hover);

                    &::before {
                        background-color: var(--text-hover);
                    }

                }
            }

            &:hover {
                .overlay_news {
                    animation-delay: .1s;
                    animation: ovelaytouch 0.4s ease-in-out;
                }
            }

            .overlay_news {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 0;
                height: 0;
                border-radius: 50%;
                background-color: rgba(255, 255, 255, 0.2);

            }
        }

        .news__item---open {
            position: absolute;
            top: 10px;
            right: 10px;
            background-color: var(--border-color);
            width: 60px;
            text-align: center;
            padding: 8px 0;
            border-radius: 2px;
            font-weight: 500;
            font-size: 1.4rem;
            color: var(--text-light-color);
            cursor: pointer;
            transition: all 0.3s linear;

            &::before {
                transition: all 0.3s linear;
                content: "";
                position: absolute;
                top: 104%;
                right: 0;
                width: 60px;
                height: 2px;
                background-color: var(--border-color);

            }
        }

        .news__item--seeall {
            text-align: center;

            a {
                font-size: 400;
                display: inline-block;
                padding: 4px 8px;
                color: var(--black-color);
                text-decoration: none;
                border-bottom: 2px solid var(--border-color);

                &:hover {
                    border-bottom: 2px solid var(--text-hover);
                    color: var(--text-hover);
                }
            }
        }
    }
}

.map__container {
    margin-top: 24px;
    width: 100%;

    iframe {
        width: 100%;
    }
}

footer {
    .footer--title {
        border-bottom: 3px solid var(--border-color);

        h5 {
            position: relative;
            padding: 8px 0;
            display: inline-block;

            &::before {
                content: "";
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                height: 3px;
                border-radius: 4px;
                background-color: var(--text-hover);
            }
        }
    }

    .footer__body {
        margin: 12px 0;

        .footer__body--title {

            font-weight: 600;
            font-size: 1.4rem;
            color: var(--text-light-color);
        }

        .address--item__body {
            display: flex;
            justify-content: center;
            align-items: center;

            .address--item__body--icon {
                width: 40px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                border: 1px solid var(--text-light-color);
                color: var(--text-hover);
                margin-right: 8px;
            }

            .address--item__body--info {
                width: 100%;
                margin: 6px 0;

                .address__title {
                    color: var(--black-color);
                    font-weight: 500;
                    margin: 8px 0;

                }

                .address__local {
                    font-size: 1.4rem;
                    font-weight: 400;
                    color: var(--text-light-color);

                    a {
                        text-decoration: none;
                        color: var(--text-light-color);

                        &:hover {
                            color: var(--text-hover);
                        }
                    }
                }
            }
        }

        ul {
            li {
                a {
                    text-decoration: none;
                    color: var(--text-color);
                    display: block;
                    padding: 12px 0;
                    border-bottom: 2px solid var(--border-color);

                    &:hover {
                        color: var(--text-hover);
                    }
                }
            }
        }
    }

    .footer_copyright {
        text-align: center;
        padding: 12px 0;
        background-color: var(--border-color);
        font-size: 1.4rem;
    }
}

@keyframes ovelaytouch {
    0% {
        width: 0;
        height: 0;

    }

    100% {
        width: 90%;
        height: 60%;
    }
}